
body{
  background-image: url("http://thumbs.dreamstime.com/x/cr%C3%A9puscule-26407240.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 .navbar-brand img{
  width: 50%;
}

nav ul{
  font-size: 18px;
}

.hote{
  border: 3px solid #fff;
  border-radius: 5%;
  padding: 0 8px;
  color:#fff;
  font-weight: bold;
}
.main{
  Width:70%;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
}
.invitation{
  margin-top: 10%;
  text-align: center;
  color: #fff;
}
.slogan{
  font-family: Lucida,Arial,sans-serif;
  font-size: 5rem;
  font-weight: bold;
}
.play{
  border: 1px solid white;
  border-radius: 100%;
}
#bgvid {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   background-color:orange;
   background-size: cover;
}
.search{
  background-color:tomato;
  color:#fff;
  font-weight: bolder;
}
footer{
  width: 100%;
}
footer{
  /*background-color: blue;*/
  display: inline-block;
  margin: 4px 20px
}
.depart{
  background-image: url("/home/mboma/site/lab/image_google/right-arrow.png" atl="arrow");
}

.row{
  margin: 5px 140px;
  font-size: 10%;
  padding: 0;
}
.foot3first{
  margin-right: -10px;
  text-align: center;
}
.where{
  margin-right: -4px;
}
@media(min-width:769px){
.wrap{
  min-height:100vh;
}
}

@media(min-width:769px){
.navbar li{
  margin: 15px 4px 0 0;
}
}
.navbar-brand a{
  margin-top: 15px;
  display: inline;
}
